@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.cy.sheet {
  border: 2px solid #71C5C9;
  border-radius: 5px;
}
.cy.sheet section.window-content {
  background: #1C1E23;
  background-image: none;
  border: 2px solid #F6EDDB;
  color: #F6EDDB;
  font-family: "UAV OSD Mono", monospace;
  font-size: 15px;
  padding: 5px;
}
.cy.sheet section.window-content .sheet-tabs {
  background-color: #F6EDDB;
  border: none;
  flex: 0 0 30px;
  padding: 0;
}
.cy.sheet section.window-content .sheet-tabs a.item {
  height: 57;
  padding: 4px;
  text-align: center;
  width: 84;
  border: 4px solid #F6EDDB;
}
.cy.sheet section.window-content .sheet-tabs a.item:hover {
  border: 4px solid #F800F8;
}
.cy.sheet section.window-content .sheet-tabs a.item.active {
  border: 4px solid #F800F8;
}
.cy.sheet section.window-content .sheet-tabs a.item img {
  border: none;
  border-radius: 0;
  height: 30px;
}
.cy.sheet section.window-content input[type=number],
.cy.sheet section.window-content input[type=text] {
  color: #F6EDDB;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.cy.sheet section.window-content input[type=number] {
  font-family: "Aldo the Apache";
  font-size: 20px;
}
.cy.sheet section.window-content .widget {
  border: 4px solid #F6EDDB;
  border-radius: 5px;
}

.cy.sheet.actor.character section.window-content .sheet-wrapper {
  display: flex;
  flex-direction: column;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header {
  display: flex;
  height: 443px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 292px;
  margin-right: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .portrait {
  display: flex;
  flex: 0 0 292px;
  justify-content: center;
  margin-bottom: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .portrait img {
  height: 100%;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .name {
  flex: 0 0 38px;
  margin-bottom: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .name input[type=text] {
  height: 38px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .class {
  flex: 0 0 38px;
  margin-bottom: 5px;
  text-align: center;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .class span.class-name {
  line-height: 38px;
  text-transform: uppercase;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .field-row {
  display: flex;
  flex: 0 0 38px;
  width: 100%;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .field-row .field {
  height: 38px;
  flex: 1;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .left-col .field-row .foo-field {
  margin-right: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col {
  display: flex;
  flex: 0 0 88px;
  flex-direction: column;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points {
  display: grid;
  flex: 0 0 88px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 5px;
  width: 88px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points .hit-points-ur,
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points .hit-points-ll {
  background-image: -webkit-linear-gradient(135deg, #F6EDDB 50%, #1C1E23 50%);
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points .hit-points-lr {
  background-color: #F6EDDB;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points .hit-points-lr input[type=number] {
  color: #1C1E23;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .hit-points input[type=number] {
  border: none;
  font-size: 34px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row {
  display: flex;
  flex: 0 0 38px;
  margin-bottom: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row .ability-icon {
  align-items: center;
  background-color: #F6EDDB;
  border-right: 4px solid #F6EDDB;
  display: flex;
  flex: 1;
  justify-content: center;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row .ability-icon a {
  height: 34px;
  width: 34px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row .ability-icon a img {
  border: none;
  height: 34px;
  width: 34px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row .ability-score {
  flex: 1;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .ability-row .ability-score input[type=number] {
  font-size: 24px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-header .right-col .glitches {
  flex: 0 0 38px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-body .item-row {
  display: flex;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-body .item-row .icon {
  flex: 0 0 100px;
  margin-right: 5px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-body .item-row .icon img {
  border: 4px solid #F6EDDB;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
.cy.sheet.actor.character section.window-content .sheet-wrapper .sheet-body .item-row .fields {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cy.sheet.item .sheet-wrapper.cyber .sheet-header .portrait-row .item-type {
  color: #F8F800;
}
.cy.sheet.item .sheet-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cy.sheet.item .sheet-header .portrait-row {
  display: flex;
  flex: 0 0 292px;
}
.cy.sheet.item .sheet-header .portrait-row .portrait {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}
.cy.sheet.item .sheet-header .portrait-row .portrait img.portrait {
  height: 292px;
  width: 292px;
}
.cy.sheet.item .sheet-header .portrait-row .item-type {
  align-items: center;
  display: flex;
  flex: 0 0 88px;
  font-size: 50px;
  justify-content: center;
  writing-mode: vertical-rl;
}
.cy.sheet.item .sheet-header .name {
  flex: 0 0 38px;
  margin-bottom: 5px;
}
.cy.sheet.item .sheet-header .name input[type=text] {
  height: 38px;
}
.cy.sheet.item .sheet-body .description-tab {
  background-color: #F6EDDB;
  color: #1C1E23;
  height: 300px;
  width: 100%;
}
.cy.sheet.item .sheet-body .description-tab .editor, .cy.sheet.item .sheet-body .description-tab .editor-content {
  height: 100%;
}
.cy.sheet.item .sheet-body .details-tab .field-row {
  display: flex;
  flex: 0 0 38px;
  margin-bottom: 5px;
}
.cy.sheet.item .sheet-body .details-tab .field-row .field-label {
  align-items: center;
  background-color: #F6EDDB;
  color: #1C1E23;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.cy.sheet.item .sheet-body .details-tab .field-row .field-value {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.cy.sheet.item .sheet-body .details-tab .field-row .field-value input {
  width: 100%;
}

@font-face {
  font-family: "Margahayu-Regular";
  src: url("../assets/fonts/Margahayu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bsign-Regular";
  src: url("../assets/fonts/Bsign-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Aldo the Apache";
  src: url("../assets/fonts/AldotheApache.ttf") format("truetype");
}
@font-face {
  font-family: "Arcade Interlaced";
  src: url("../assets/fonts/ARCADE_I.ttf") format("truetype");
}
@font-face {
  font-family: "Arcade Rounded";
  src: url("../assets/fonts/ARCADE_R.ttf") format("truetype");
}
@font-face {
  font-family: "Arcade Normal";
  src: url("../assets/fonts/ARCADE_R.ttf") format("truetype");
}
@font-face {
  font-family: "UAV OSD Mono";
  src: url("../assets/fonts/UAV-OSD-Mono.ttf") format("truetype");
}
@font-face {
  font-family: "UAV OSD Sans Mono";
  src: url("../assets/fonts/UAV-OSD-Sans-Mono.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #F800F8;
  border: none;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: #F800F8 #1C1E23;
}

/*# sourceMappingURL=cy_borg.css.map */
