
.cy.sheet.actor.character {
  section.window-content {
    .sheet-wrapper {
      display: flex;
      flex-direction: column;
      .sheet-header {
        display: flex;
        height: 443px;
        .left-col {
          display: flex;
          flex-direction: column;
          flex: 0 0 $portrait-size;
          margin-right: $widget-margin;
          .portrait {
            display: flex;
            flex: 0 0 $portrait-size;
            justify-content: center;
            margin-bottom: $widget-margin;
            img {
              height: 100%;
            }
          } 
          .name {
            flex: 0 0 $field-height;
            margin-bottom: $widget-margin;
            input[type="text"] {
              height: $field-height;
            }
          } 
          .class {
            flex: 0 0 $field-height;
            margin-bottom: $widget-margin;
            text-align: center;
            span.class-name {
              line-height: $field-height;
              text-transform: uppercase;
            }
          }  
          .field-row {
            display: flex;
            flex: 0 0 $field-height;
            width: 100%;
            .field {
              height: $field-height;
              flex: 1;
            }
            .foo-field {
              margin-right: $widget-margin;
            }
          }
        }
        .right-col {
          display: flex;
          flex: 0 0 88px;
          flex-direction: column;
          .hit-points {
            display: grid;
            flex: 0 0 88px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-bottom: $widget-margin;
            width: 88px;
            .hit-points-ul {     
            }
            .hit-points-ur,
            .hit-points-ll {              
              background-image: -webkit-linear-gradient(135deg, $cream 50%, $near-black 50%);              
            }
            .hit-points-lr {              
              background-color: $cream;
              input[type="number"] {
                color: $near-black;
              }          
            }
            input[type="number"] {
              border: none;
              font-size: 34px;
            }            
          }
          .ability-row {
            display: flex;
            flex: 0 0 $field-height;
            margin-bottom: $widget-margin;
            .ability-icon {
              align-items: center;
              background-color: $cream;
              border-right: 4px solid $cream;
              display: flex;
              flex: 1;
              justify-content: center;
              a {
                height: 34px;
                width: 34px;
                img {
                  border: none;
                  height: 34px;
                  width: 34px;
                }  
              }
            }
            .ability-score {
              flex: 1;
              input[type="number"] {
                font-size: 32px;
                padding-top: 6px;
              }
            }
          }
          .glitches {
            flex: 0 0 $field-height;
          }
        }  
      }
      .sheet-body {
        .dossier-tab {
          background-color: $cream;
          color: $near-black;
          // display: flex;
          // flex-direction: column;
          // height: 100%;
          height: 300px;
          width: 100%;
          .editor, .editor-content {
            height: 100%;
          }
        }
      }
    }
  }
}