@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
  font-family: "Aldo the Apache";
  src: url("../assets/fonts/AldotheApache.ttf") format("truetype");
}
@font-face {
  font-family: "Perfect DOS VGA 437";
  src: url("../assets/fonts/Perfect DOS VGA 437.ttf") format("truetype");
}
@font-face {
  font-family: "UAV OSD Sans Mono";
  src: url("../assets/fonts/UAV-OSD-Sans-Mono.ttf") format("truetype");
}
@font-face {
  font-family: "Aldo the Apache";
  src: url("../assets/fonts/AldotheApache.ttf") format("truetype");
}
@font-face {
  font-family: "QuanPixel 8px";
  src: url("../assets/fonts/quan.ttf") format("truetype");
}