@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Press+Start+2P&family=Righteous&family=VT323&subset=latin-ext&display=swap');
@font-face {
  font-family: "Bungee";
  src: url("../assets/fonts/Bungee-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Comic Relief";
  src: url("../assets/fonts/ComicRelief-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Almendra";
  src: url("../assets/fonts/Almendra-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Audiowide";
  src: url("../assets/fonts/Audiowide-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "QuanPixel 8px";
  src: url("../assets/fonts/quan.ttf") format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  src: url("../assets/fonts/PixelifySans-Variable.ttf") format("truetype");
}
