.cy.sheet {
  border: 2px solid $aqua;
  border-radius: 5px;

  section.window-content {
    background: $near-black;
    background-image: none;
    border: 2px solid $cream;
    color: $cream;
    font-family: 'VT323', monospace;
    font-size: 24px;
    padding: $widget-margin;

    .sheet-tabs {
      background-color: $cream;
      border: none;
      // border-bottom: 4px solid $cream;
      // border-top: 4px solid $cream;
      flex: 0 0 $tab-height;
      padding: 0;
      a.item {
        height: 57;
        padding: 4px;
        text-align: center;
        width: 84;
        border: 4px solid $cream;
        &:hover {
          border: 4px solid $magenta;
        }
        &.active {
          border: 4px solid $magenta;
          // background-color: $cream;
        }
        img {
          border: none;
          border-radius: 0;
          height: $tab-height;
        }
      }
    }

    input[type="number"],
    input[type="text"] {
      color: $cream;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    input[type="number"] {
      // font-family: "Margahayu";
      font-size: 24px;
    }

    .widget {
      border: 4px solid $cream;
      border-radius: 5px;
    }  
  }
}