.cy.sheet {
  border: 2px solid $aqua;
  border-radius: 5px;
  
  section.window-content {
    background: $near-black;
    background-image: none;
    border: 2px solid $cream;
    color: $cream;
    font-family: $sheet-font;
    font-size: 15px;
    overflow-y: scroll;
    padding: $widget-margin;

    form {
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: 100%;
    }

    .sheet-tabs {
      background-color: $cream;
      border: none;
      flex: 0 0 $tab-height;
      padding: 0;
      a.item {
        height: 57;
        padding: 4px;
        text-align: center;
        width: 84;
        border: 4px solid $cream;
        &:hover {
          border: 4px solid $magenta;
        }
        &.active {
          border: 4px solid $magenta;
        }
        img {
          border: none;
          border-radius: 0;
          height: $tab-height;
        }
      }
    }

    input[type="number"],
    input[type="text"] {
      color: $cream;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    input[type="number"] {
      font-family: $input-number-font;
      font-size: 20px;
    }
    input[type="text"] {
      font-family: $input-text-font;
      line-height: $textarea-line-height;
    }

    textarea {
      color: $cream;
      font-family: $textarea-font;
      font-size: 15px;
      line-height: $textarea-line-height;
    }

    .editor,
    .editor-content {
      height: 100%;
      line-height: $textarea-line-height;
    }
    .editor {
      padding: 0 8px;
    }

    .widget {
      border: 4px solid $cream;
      border-radius: 5px;
    }

    .button-row {
      display: flex;
      justify-content: space-around;
    }
  
    .sheet-button {
      background-color: $cream;
      color: $near-black;
    }

    .field-row {
      display: flex;
      flex: 0 0 $field-height;
      margin-bottom: $widget-margin;
      .field-label {
        align-items: center;
        background-color: $cream;
        color: $near-black;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-family: $label-font;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
      }
      .field-value {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        input {
          width: 100%;
        }
      }
      button {
        color: $cream;
      }
      textarea {
        font-family: $textarea-font;
        line-height: $textarea-line-height;
      }
    }
    
    // style shared by foe actor sheet and item sheets
    .sheet-body {
      flex: 1;

      .tab {
        height: 100%;
      }
      
      .description-tab {
        .description-wrapper {
          background-color: $cream;
          color: $near-black;
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
        }
      }

      .data-tab {

      }  
    }  
  }
}