$aqua: #71C5C9;
$cream: #F6EDDB;
$magenta: #F800F8;
$near-black: #1C1E23;
$yellow: #F8F800;
$disabled-color: gray;

$widget-margin: 5px;
$field-height: 38px;
$tab-height: 30px;
$tab-width: 50px;

$portrait-size: 292px;

$primary-font: "Perfect DOS VGA 437";
$name-font: "UAV OSD Sans Mono";
$label-font: "UAV OSD Sans Mono";
$sheet-font: "QuanPixel 8px";
$textarea-font: "QuanPixel 8px";
$textarea-line-height: 20px;
$input-number-font: "Aldo the Apache";
$input-text-font: "QuanPixel 8px";
$type-font: "UAV OSD Sans Mono";