$aqua: #71C5C9;
$cream: #F6EDDB;
$magenta: #F800F8;
$near-black: #1C1E23;
$yellow: #F8F800;
$disabled-color: gray;

$border-radius: 5px;

$widget-margin: 5px;
$field-height: 38px;
$tab-height: 30px;
$tab-width: 50px;
$sheet-padding: 11px;

$tab-height: 30px;
$border-width: 4px;

$portrait-size: 292px;

$primary-font: "Nouveau IBM";
$name-font: "UAV OSD Sans Mono";
$label-font: "UAV OSD Sans Mono";
$sheet-font: "QuanPixel 8px";
$textarea-font: "QuanPixel 8px";
$textarea-line-height: 20px;
$input-number-font: "Aldo the Apache";
$input-text-font: "QuanPixel 8px";
$type-font: "UAV OSD Sans Mono";
$pixel-font: "CY VTT test font 1.2";

:root {
  --cy-accent-color: #71C5C9;
  --cy-background-color: #1C1E23;
  --cy-border-blur: 5px;
  --cy-button-foreground-color: #F800F8;
  --cy-button-background-color: #F800F833;
  --cy-cybertext-color: #F8F800;
  --cy-disabled-color: gray;
  --cy-foreground-color: #F6EDDB;
  --cy-highlight-color: #F800F8;
  --cy-sheet-shadow: none;
  --cy-window-background-color: #333333;
}