$aqua: #71C5C9;
$cream: #F6EDDB;
$magenta: #F800F8;
$near-black: #1C1E23;
$yellow: #F8F800;
$disabled-color: gray;

$widget-margin: 5px;
$field-height: 38px;
$tab-height: 30px;
$tab-width: 50px;

$portrait-size: 292px;