.chat-ad {
  .content {
    text-align: center;
  }
}

.font1 {
  font-family: helvetica;
}

.font2 {
	font: 100%/1.6 Baskerville, Palatino, serif;
}

.font3 {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
}

.font4 {
  font-family: futura;
  font-size: 24px;
  text-transform: uppercase;
}

@keyframes blinker { 50% { opacity: 0; } }

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes ants { to { background-position: 100% 100% } }

.marching-ants {
	animation: ants 12s linear infinite;
	background: linear-gradient($near-black, $near-black) padding-box,
	            repeating-linear-gradient(-45deg, $magenta 0, $magenta 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	border: 5px solid transparent;
	max-width: 20em;
	padding: 1em;	
}

.no-animation {

}

// https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
@keyframes rainbow-animation {
  0%,100% {
      background-position: 0 0;
  }
  50% {
      background-position: 100% 0;
  }
}

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

