.chat-ad {
  .content {
    text-align: center;
  }
}

.color1 {
  // original
}
.color2 {
  color: $magenta;
}
.color3 {
  color: $yellow;
}
.color4 {
  color: white;
}
.color5 {
  color: #FF3131;
}
.color6 {
  color: #39ff14;
}
.color7 {
  color: #ff901b;
}
.color8 {
  color: #03edf4;
}
.color9 {
  color: #fe86ff;
}
.color10 {
  color: #C724B1;
}


.font1 {
  font-family: helvetica;
}
.font2 {
	font: 100%/1.6 Baskerville, Palatino, serif;
}
.font3 {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
}
.font4 {
  font-family: futura;
  font-size: 24px;
  text-transform: uppercase;
}
.font5 {
  font-family: 'Courier New', monospace;
  font-size: 20px;
}
.font6 {
  font-family: Scanlines;
  text-transform: uppercase;
}
.font7 {
  font-family: "Fascinate Inline";
  font-size: 20px;
}
.font8 {
  font-family: "Press Start 2P";
}
.font9 {
  font-family: "Papyrus";
  font-size: 18px;
}
.font10 {
  font-family: "LDFComicSans";
  font-size: 18px;
}
.font11 {
  font-family: "Righteous";
  font-size: 18px;
}

@keyframes blinker { 50% { opacity: 0; } }

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes ants { to { background-position: 100% 100% } }

.marching-ants-1 {
	animation: ants 12s linear infinite;
	background: linear-gradient($near-black, $near-black) padding-box,
	            repeating-linear-gradient(-45deg, $magenta 0, $magenta 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	border: 5px solid transparent;
	max-width: 20em;
	padding: 1em;	
}

.marching-ants-2 {
	animation: ants 12s linear infinite;
	background: linear-gradient($near-black, $near-black) padding-box,
	            repeating-linear-gradient(45deg, $yellow 0, $yellow 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	border: 5px solid transparent;
	max-width: 20em;
	padding: 1em;	
}

.no-animation {

}

// https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
@keyframes rainbow-animation {
  0%,100% {
      background-position: 0 0;
  }
  50% {
      background-position: 100% 0;
  }
}

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt {
  animation: textShadow 1.6s infinite;
}

.flip-x {
  animation: 3s anim-flip-x ease infinite;
}
@keyframes anim-flip-x {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.flip-y {
  animation: 3s anim-flip-y ease infinite;
}
@keyframes anim-flip-y {
  0% {
    opacity: 0;
    transform: rotateY(90def);
  }
  50% {
    opacity: 1;
    transform: rotateY(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateY(720deg);
  }
}

@keyframes glow-anim {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

.glow {
  animation: glow-anim 2s ease-in-out infinite alternate;
}

.glitch {
  .content {
    animation: glitch 2s linear infinite;
    div:before,
    div:after{
      content: attr(content);
    }
    div:before{
      animation: glitchTop 1s linear infinite;
      clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }
    div:after{
      animation: glitchBottom 1.5s linear infinite;
      clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }  
  }
}

@keyframes glitch {
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}


@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.shadow-bounce {
  animation: shadow-bounce 1.5s ease-in-out infinite;
}

@keyframes shadow-bounce {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}