.cy.sheet.item {
  .sheet-wrapper.cyber .sheet-header .portrait-row .item-type {
    color: $yellow;
  }
  .sheet-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .portrait-row {
      display: flex;
      flex: 0 0 $portrait-size;
      .portrait {
        align-items: center;
        display: flex;
        img.portrait {
          height: $portrait-size;
          width: $portrait-size;
        }
        margin-bottom: $widget-margin;
      }  
      .item-type {
        align-items: center;
        display: flex;
        flex: 0 0 88px;
        font-size: 50px;
        justify-content: center;
        writing-mode: vertical-rl;
      }
    }
    .name {
      flex: 0 0 $field-height;
      margin-bottom: $widget-margin;
      input[type="text"] {
        height: $field-height;
      }
    }    
  }
  .sheet-body {
    .description-tab {
      background-color: $cream;
      color: $near-black;
      height: 300px;
      width: 100%;
      .editor, .editor-content {
        height: 100%;
      }
    }
  }
}
