<form id="make-punk-form" class="dialog make-punk-dialog">
  <div class="section">
    <div class="subtitle">{{localize "CY.ScvmfactoryChooseFromClasses"}}</div>
    <ul>
      {{#each this.classes}}
      <li>
        <label
          ><input name="{{this.pack}}" type="checkbox" class="class-checkbox"
          {{#if this.checked }}checked{{/if}} />
          <div class="class-name">{{this.name}}</div></label
        >
      </li>
      {{/each}}
    </ul>
    <div>
      <a class="toggle-none">{{localize "CY.ScvmfactoryToggleNone"}}</a> /
      <a class="toggle-all">{{localize "CY.ScvmfactoryToggleAll"}}</a>
    </div>
  </div>

  {{#if forActor}}
  <div class="section">
    <p>{{localize "CY.ScvmfactoryWarning"}}</p>
  </div>
  {{/if}}

  <div class="button-row">
    <button type="submit" class="button cancel-button" name="cancel" value="1">
      {{localize "CY.Cancel"}}
    </button>
    <button type="submit" class="button make-punk-button" name="make-punk" value="1">
      {{localize "CY.ScvmfactoryMakePunk"}}
    </button>
  </div>
</form>
