// Foundry overrides
// see [Foundry dir]/resources/app/public/css/style.css

// TODO: why are scss variables not working inside :root variables?

:root {
  --color-text-light-highlight: #f0f0e0;
  --color-text-light-heading: #c9c7b8;
  --color-text-light-primary: #b5b3a4;
  --color-text-dark-primary: #191813;
  --color-text-dark-secondary: #4b4a44;
  --color-text-dark-header: #23221d;
  --color-text-dark-inactive: #7a7971;
  // --color-text-hyperlink: #ff6400;
  --color-text-hyperlink: var(--cy-highlight-color);
  --color-text-light-0: #fff;
  --color-text-light-1: #eee;
  --color-text-light-2: #ddd;
  --color-text-light-3: #ccc;
  --color-text-light-4: #bbb;
  --color-text-light-5: #aaa;
  --color-text-light-6: #999;
  --color-text-light-7: #888;
  --color-text-dark-1: #111;
  --color-text-dark-2: #222;
  --color-text-dark-3: #444;
  --color-text-dark-4: #555;
  --color-text-dark-5: #666;
  --color-text-dark-6: #777;
  --color-border-light-1: #ddd;
  --color-border-light-2: #999;
  --color-border-dark-1: #111;
  --color-border-dark-2: #222;
  --color-border-dark-3: #333;
  --color-border-dark-4: #444;
  --color-border-dark-5: #666;
  // --color-shadow-primary: #ff0000;
  --color-shadow-primary: var(--cy-highlight-color);
  // --color-shadow-highlight: #ff6400;
  --color-shadow-highlight: var(--cy-highlight-color);
  --color-shadow-dark: #000;
  --color-underline-inactive: #7a7971;
  --color-underline-active: #44191A;
  --color-underline-header: #782e22;
  --color-border-light-highlight: #f0f0e0;
  --color-border-light-primary: #b5b3a4;
  --color-border-light-secondary: #c9c7b8;
  --color-border-light-tertiary: #7a7971;
  --color-border-dark: #000;
  --color-border-dark-primary: #191813;
  --color-border-dark-secondary: #23221d;
  --color-border-dark-tertiary: #4b4a44;
  // --color-border-highlight: #ff6400;
  --color-border-highlight: var(--cy-highlight-color);
  // --color-border-highlight-alt: #ff0000;
  --color-border-highlight-alt: var(--cy-highlight-color);
  --color-bg-btn-minor-inactive: #c9c7b8;
  --color-bg-btn-minor-active: #b5b3a4;
  --color-bg-option: #dad8cc;
  --z-index-canvas: 0;
  --z-index-app: 30;
  --z-index-ui: 60;
  --z-index-window: 100;
  --sidebar-width: 300px;
  --sidebar-header-height: 32px;
  --sidebar-item-height: 48px;
  --hotbar-height: 52px;
  --hotbar-width: 578px;
  --macro-size: 50px;
  --players-width: 200px;
  --form-field-height: 26px;
  // --font-primary: "Signika", sans-serif;
  // --font-primary: 'Perfect DOS VGA 437';
  --font-primary: 'Perfect DOS VGA 437';
  --font-mono: monospace;
  // --font-size-11: 0.6875rem;
  // --font-size-12: 0.75rem;
  // --font-size-13: 0.8125rem;
  // --font-size-14: 0.875rem;
  // --font-size-16: 1rem;
  // --font-size-18: 1.125rem;
  // --font-size-20: 1.25rem;
  // --font-size-24: 1.5rem;
  // --font-size-28: 1.75rem;
  --font-size-11: 0.75rem;
  --font-size-12: 0.8125rem;
  --font-size-13: 0.875rem;
  --font-size-14: 1rem;
  --font-size-16: 1.125rem;
  --font-size-18: 1.25rem;
  --font-size-20: 1.5rem;
  --font-size-24: 1.75rem;
  --font-size-28: 2.0rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;
}

// scrollbar
::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--cy-highlight-color);
  border: none;
  border-radius: 3px;
  outline: none;
}
:root {
  scrollbar-color: var(--cy-highlight-color);
  scrollbar-width: thin;
}