

.window-app.cy.dialog {
  border: 4px solid $cream;
  .window-header {
    background-color: $cream;
    color: $near-black;
  }
  .window-content {
    background-color: $near-black;  
    background-image: none;
    color: $cream;

    form.dialog {
      button {
        background-color: $cream;
        color: $near-black;
      }
      .form-group {
        display: flex;
        label {
          flex: 1;
          padding-right: 10px;
          text-align: right;
        }
        .field-value {
          flex: 1;
          text-align: center;
        }
      }
      .form-group.disabled {
        color: $disabled-color;
        input[type="number"],
        input[type="text"],
        select {
          color: $disabled-color;
        }
      }
      input[type="number"],
      input[type="text"],
      select {
        color: $cream;
      }
    }    
  }
}

