

.window-app.cy.dialog {
  border: 4px solid var(--cy-foreground-color);
  .window-header {
    background-color: var(--cy-foreground-color);
    color: var(--cy-background-color);
  }
  .window-content {
    background-color: var(--cy-background-color);  
    background-image: none;
    color: var(--cy-foreground-color);

    form.dialog {
      button {
        background-color: var(--cy-foreground-color);
        color: var(--cy-background-color);
      }
      .form-group {
        display: flex;
        label {
          flex: 1;
          padding-right: 10px;
          text-align: right;
        }
        .field-value {
          flex: 1;
          text-align: center;
        }
      }
      .form-group.disabled {
        color: var(--cy-disabled-color);
        input[type="number"],
        input[type="text"],
        select {
          color: var(--cy-disabled-color);
        }
      }
      input[type="number"],
      input[type="text"],
      select {
        color: var(--cy-foreground-color);
      }
    }    
  }
}

