<div class="abilities-wrapper">
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="strength" title="{{ localize 'CY.Strength' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_strength.png" />
        <div class="ability-label">{{ localize 'CY.StrengthAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="strength" type="number" name="system.abilities.strength.value" value="{{data.system.abilities.strength.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="agility" title="{{ localize 'CY.Agility' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_agility.png" />
        <div class="ability-label">{{ localize 'CY.AgilityAbbrev' }}</div>        
      </a>
    </div>
    <div class="ability-score">
      <input class="strength" type="number" name="system.abilities.agility.value" value="{{data.system.abilities.agility.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="presence" title="{{ localize 'CY.Presence' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_presence.png" />
        <div class="ability-label">{{ localize 'CY.PresenceAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="presence" type="number" name="system.abilities.presence.value" value="{{data.system.abilities.presence.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="toughness" title="{{ localize 'CY.Toughness' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_toughness.png" />
        <div class="ability-label">{{ localize 'CY.ToughnessAbbrev' }}</div>        
      </a>
    </div>
    <div class="ability-score">
      <input class="toughness" type="number" name="system.abilities.toughness.value" value="{{data.system.abilities.toughness.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="knowledge" title="{{ localize 'CY.Knowledge' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_knowledge.png" />
        <div class="ability-label">{{ localize 'CY.KnowledgeAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="knowledge" type="number" name="system.abilities.knowledge.value" value="{{data.system.abilities.knowledge.value}}" />
    </div>
  </div>
  <div class="header-button-row">
    <button type="button" class="sheet-button level-up-button">{{ localize "CY.LevelUp" }}</button>
  </div>
  <div class="header-button-row">
    <button type="button" class="sheet-button reboot-button">{{ localize "CY.Reboot" }}</button>
  </div>

  <!-- <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="glitches" title="{{ localize 'CY.Glitches' }}">
        <img src="/systems/cy-borg/assets/images/ui/icon_glitches.png" />
      </a>
    </div>
    <div class="ability-score">
      <input class="glitches" type="number" name="system.glitches.value" value="{{data.system.glitches.value}}" />
    </div>
  </div>
  <div class="widget ability-row credits-row">
    <div class="credits-label">
      CREDITS
    </div>
    <div class="credits-input">
      <input class="credits" type="number" name="system.credits" value="{{data.system.credits}}" />
    </div>
  </div>         -->
</div>