<div class="tab apps-tab" data-group="primary" data-tab="apps">
  <div class="widget field-row">
    <div class="field-label">
    {{ localize 'CY.AppFumbleOn'}}
    </div>
    <div class="field-value">
      <input class="field-input" type="number" name="data.appFumbleOn" value="{{data.data.appFumbleOn}}"/>
    </div>
  </div>  
  <div class="apps">
    {{#each data.data.apps as |item id|}}
      <div class="item item-row app-row" data-item-id="{{item._id}}">
        <div class="icon">
          <img src="{{item.img}}" />
        </div>
        <div class="fields">
          <div class="field-row">        
            {{item.name}}
          </div>
          <div class="field-row">
            <button type="button" class="sheet-button use-app-button">{{localize 'CY.UseApp'}}</button>
          </div>
          <div class="field-row">
            <div class="item-controls">
              <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>        
      </div>
    {{/each}}
  </div>
</div>