<form class="{{cssClass}}" autocomplete="off">
  <div class="big-row">
    <div class="header-col">
      <div class="sheet-header">
        <div class="header-cols">
          <div class="left-col">
            <div class="widget portrait">
              <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>          
            </div>
            <div class="widget name">
              <input class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
            </div>
            <div class="widget class-row item" data-item-id="{{data.system.class._id}}">
              <div class="class-name">{{data.system.class.name}}</div>
              <div class="item-controls">
                <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
              </div>
            </div>
            <div class="header-button-row">
              <button type="button" class="sheet-button big-button level-up-button">{{ localize "CY.LevelUp" }}</button>
              <button type="button" class="sheet-button big-button reboot-button">{{ localize "CY.Reboot" }}</button>
            </div>                
          </div>
          <div class="right-col">
            {{> systems/cy-borg/templates/actor/abilities.html}}
            {{> systems/cy-borg/templates/actor/hit-points.html}}
            <div class="widget ability-row glitches-row">
              <div class="glitches-label">
                {{localize 'CY.Glitches'}}
              </div>
              <div class="glitches-input">
                <div class="col">
                  <input class="glitches" type="number" name="system.glitches.value" value="{{data.system.glitches.value}}" />
                </div>
                <div class="slash">/</div>
                <div class="col">
                  <input class="glitches" type="number" name="system.glitches.max" value="{{data.system.glitches.max}}" />
                </div>
              </div>
            </div>            
          </div>
        </div>

        <div class="widget-row">
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Debt'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="number" name="system.debt.amount" value="{{data.system.debt.amount}}" />
            </div>
          </div>          
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Credits'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="number" name="system.credits" value="{{data.system.credits}}" />
            </div>
          </div> 
        </div>
        <div class="widget field-row owed-to-row">
          <div class="field-label">
            {{ localize 'CY.OwedTo'}}
          </div>
          <div class="field-value">
            <textarea class="field-input owed-to" name="system.debt.to" rows="2">{{data.system.debt.to}}</textarea>
          </div>
        </div>        
      </div>  
    </div>
    <div class="tabs-col">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="dossier">
          <div class="tab-label">{{localize 'CY.Dossier'}}</div>
        </a>
        <a class="item" data-tab="combat">
          <div class="tab-label">{{localize 'CY.Combat'}}</div>
        </a>
        <a class="item" data-tab="feats">
          <div class="tab-label">{{localize 'CY.Feats'}}</div>          
        </a>
        <a class="item" data-tab="nano">
          <div class="tab-label">{{localize 'CY.AppsAndNano'}}</div>          
        </a>
        <a class="item" data-tab="equipment">
          <div class="tab-label">{{localize 'CY.Equipment'}}</div>          
        </a>
      </nav>
      
      <div class="sheet-body">
        {{> systems/cy-borg/templates/actor/dossier-tab.html}}
        {{> systems/cy-borg/templates/actor/combat-tab.html}}
        {{> systems/cy-borg/templates/actor/feats-tab.html}}
        {{> systems/cy-borg/templates/actor/nano-tab.html}}
        {{> systems/cy-borg/templates/actor/equipment-tab.html}}
      </div>      
    </div>
  </div>

</form>

