<div class="tab combat-tab" data-group="primary" data-tab="combat">
  <div class="button-row combat-buttons">
    <button type="button" class="sheet-button big-button initiative-button">{{ localize 'CY.Initiative' }}</button>
    <button type="button" class="sheet-button big-button defend-button">{{ localize 'CY.Defend' }}</button>
    <button type="button" class="sheet-button big-button battered-button">{{ localize "CY.Battered" }}</button>
    <button type="button" class="sheet-button big-button rest-button">{{ localize "CY.Rest" }}</button>
  </div>
  <div class="item-list weapons">
    {{#each data.system.weapons as |item id|}}
      <div class="item item-row weapon-row {{item.system.cyberClass}}" data-item-id="{{item._id}}">
        <div class="icon weapon-icon">
          <img src="{{item.img}}" />
        </div>
        <div class="item-fields">
          <div class="item-field-row item-name-row">        
            <div class="item-name">{{item.name}}</div>
            <div class="item-controls">
              <a class="item-control item-equip equipped" title="{{localize 'CY.ToggleEquipped'}}"><i class="fas fa-hand"></i></a>
              <a class="item-control item-edit" title="{{localize 'CY.Edit'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'CY.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>          
          <div class="item-field-row">
            {{item.system.damage}} {{item.system.weaponType}}
            &nbsp;
            <button type="button" class="sheet-button attack-button">{{localize 'CY.Attack'}}</button>
            {{#if item.system.usesAmmo}}
              <button type="button" class="sheet-button count-bullets-button">{{localize 'CY.CountBullets'}}</i></a>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="item-list armor">
    {{#each data.system.armor as |item id|}}
      <div class="item item-row armor-row {{item.system.cyberClass}}" data-item-id="{{item._id}}">
        <div class="icon">
          <img src="{{item.img}}" />
        </div>
        <div class="item-fields">
          <div class="item-field-row item-name-row">        
            <div class="item-name">{{item.name}}</div>
            <div class="item-controls">
              <a class="item-control item-equip equipped" title="{{localize 'CY.Equip'}}"><i class="fas fa-hand"></i></a>
              <a class="item-control item-edit" title="{{localize 'CY.Edit'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'CY.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>           
          <div class="item-field-row">
            <label class="tier-label">{{ localize 'CY.Tier' }}</label>
            <ul class="tiers">
              <li>
                <label
                  ><input class="tier-radio" type="radio"
                  name="{{item._id}}.tier.value" value="0" {{#ifEq
                  item.system.tier.value
                  0}}checked{{/ifEq}}/><span class="tier-num">0</span
                  ><span class="tier-dmg">-0</span></label
                >
              </li>
              <li>
                <label
                  ><input class="tier-radio" type="radio"
                  name="{{item._id}}.tier.value" value="1" {{#ifEq
                  item.system.tier.value
                  1}}checked{{/ifEq}}/><span class="tier-num">1</span
                  ><span class="tier-dmg">-d2</span></label
                >
              </li>
              <li>
                <label
                  ><input class="tier-radio" type="radio"
                  name="{{item._id}}.tier.value" value="2" {{#ifEq
                  item.system.tier.value
                  2}}checked{{/ifEq}} {{#ifLt
                  item.system.tier.max
                  2}}disabled="true"{{/ifLt}}/><span class="tier-num"
                    >2</span
                  ><span class="tier-dmg">-d4</span></label
                >
              </li>
              <li>
                <label
                  ><input class="tier-radio" type="radio"
                  name="{{item._id}}.tier.value" value="3" {{#ifEq
                  item.system.tier.value
                  3}}checked{{/ifEq}} {{#ifLt
                  item.system.tier.max
                  3}}disabled="true"{{/ifLt}}/><span class="tier-num"
                    >3</span
                  ><span class="tier-dmg">-d6</span></label
                >
              </li>              
              <li>
                <label
                  ><input class="tier-radio" type="radio"
                  name="{{item._id}}.tier.value" value="4" {{#ifEq
                  item.system.tier.value
                  4}}checked{{/ifEq}} {{#ifLt
                  item.system.tier.max
                  4}}disabled="true"{{/ifLt}}/><span class="tier-num"
                    >4</span
                  ><span class="tier-dmg">-d8</span></label
                >
              </li>              
            </ul>
          </div>
        </div>
      </div>      
    {{/each}}
  </div>
</div>
