<div class="tab equipment-tab" data-group="primary" data-tab="equipment">
  <div class="button-row add-item-row">
    <button type="button" class="sheet-button add-item-button">{{ localize 'CY.AddItem' }}</button>
  </div>
  <div class="equipment item-list">
    {{#each data.data.equipment as |item id|}}
      <div class="item item-row equipment-row" data-item-id="{{item._id}}">
        <div class="icon">
          <img src="{{item.img}}" />
        </div>
        <div class="item-fields">
          <div class="item-field-row">        
            {{item.name}}
          </div>
          <div class="item-field-row">        
            {{localize 'CY.Quantity'}}: {{item.data.quantity}}
            &nbsp;
            <a class="item-control item-qty-plus" title="Add Quantity"
            ><i class="fas fa-plus"></i
          ></a>
          <a class="item-control item-qty-minus" title="Subtract Quantity"
            ><i class="fas fa-minus"></i
          ></a>
    
          </div>
          <div class="item-field-row">
            <div class="item-controls">
              <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>        
        </div>
      </div>
    {{/each}}
  </div>
</div>