<div class="tab equipment-tab" data-group="primary" data-tab="equipment">
  <div class="equipment item-list">
    {{#each data.data.equipment as |item id|}}
      <div class="item item-row equipment-row" data-item-id="{{item._id}}">
        <div class="icon">
          <img src="{{item.img}}" />
        </div>
        <div class="fields">
          <div class="field-row">        
            {{item.name}}
          </div>
          <div class="field-row">
            <div class="item-controls">
              <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>        
        </div>
      </div>
    {{/each}}
  </div>
</div>