<div class="tab feats-tab" data-group="primary" data-tab="feats">
  <div class="feats item-list">
    {{#each data.system.feats as |item id|}}
      <div class="item item-row feat-row" data-item-id="{{item._id}}">
        <div class="icon">
          <img src="{{item.img}}" />
        </div>
        <div class="item-fields">
          <div class="item-field-row item-name-row">
            <div class="item-name">{{item.name}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize 'CY.Edit'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'CY.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
