<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-header">
    <div class="left-col">
      <div class="widget portrait">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>          
      </div>
      <div class="widget name">
        <input class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
      </div>
      <div class="field-row button-row">
        <button class="sheet-button reaction-button"><i class="fas fa-dice-d6"></i>{{ localize "CY.Reaction" }}</button>
        <button class="sheet-button morale-button"><i class="fas fa-dice-d6"></i>{{ localize "CY.Morale" }}</button>
      </div>
    </div>
    <div class="right-col">
      <div class="actor-type">
        {{ localize "CY.Foe" }}
      </div>
      {{> systems/cy_borg/templates/actor/hit-points.html}}
    </div>
  </div>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"><img class="tab-icon" title="{{localize 'CY.Description'}}" src="/systems/cy_borg/assets/images/ui/tab_dossier.png" /></a>
    <a class="item" data-tab="data"><img class="tab-icon" title="{{localize 'CY.Data'}}" src="/systems/cy_borg/assets/images/ui/tab_feats.png" /></a>
  </nav>
  
  <div class="sheet-body">  
    <div class="tab description-tab" data-group="primary" data-tab="description">
      <div class="description-wrapper">
        {{editor data.system.description target="system.description"
        button=true owner=owner editable=true}}  
      </div>
    </div>      
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Morale'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="number" name="system.morale" value="{{ data.system.morale }}" />
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Armor'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="system.armor" rows="2">{{data.system.armor}}</textarea>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Attack'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="system.attack" rows="2">{{data.system.attack}}</textarea>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Special'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="system.special" rows="10">{{data.system.special}}</textarea>
        </div>
      </div>
    </div>
  </div>  
</form>

