<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-header">
    <div class="left-col">
      <div class="widget portrait">
        <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>          
      </div>
      <div class="widget name">
        <input class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
      </div>
      <div class="field-row button-row">
        <button class="field-button reaction-button"><i class="fas fa-dice-d6"></i>{{ localize "CY.Reaction" }}</button>
        <button class="field-button morale-button"><i class="fas fa-dice-d6"></i>{{ localize "CY.Morale" }}</button>
      </div>
    </div>
    <div class="right-col">
      <div class="actor-type">
        {{ localize "CY.Foe" }}
      </div>    
      <div class="widget hit-points">          
        <div class="hit-points-ul">
          <input class="hit-points-value" type="number" name="data.hitPoints.value" value="{{data.data.hitPoints.value}}" />            
        </div>
        <div class="hit-points-ur">
        </div>
        <div class="hit-points-ll">
        </div>
        <div class="hit-points-lr">
          <input class="hit-points-max" type="number" name="data.hitPoints.max" value="{{data.data.hitPoints.max}}" />            
        </div>
      </div>
    </div>
  </div>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"><img class="tab-icon" title="{{localize 'CY.Description'}}" src="/systems/cy_borg/assets/images/ui/tab_dossier.png" /></a>
    <a class="item" data-tab="data"><img class="tab-icon" title="{{localize 'CY.Data'}}" src="/systems/cy_borg/assets/images/ui/tab_feats.png" /></a>
  </nav>
  
  <div class="sheet-body">  
    <div class="tab description-tab" data-group="primary" data-tab="description">
      <div class="description-wrapper">
        {{editor content=data.data.description target="data.description"
        button=true owner=owner editable=true}}  
      </div>
    </div>      
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Morale'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="number" name="data.morale" value="{{ data.data.morale }}"" />
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Armor'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="data.armor" rows="2">{{data.data.armor}}</textarea>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Attack'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="data.attack" rows="2">{{data.data.attack}}</textarea>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Special'}}
        </div>
        <div class="field-value">
          <textarea class="field-input" name="data.special" rows="10">{{data.data.special}}</textarea>
        </div>
      </div>
    </div>
  </div>  
</form>

