<div class="widget hit-points">          
  <div class="hit-points-ul">
    <input class="hit-points-value" type="number" name="system.hitPoints.value" value="{{data.system.hitPoints.value}}" />            
  </div>
  <div class="hit-points-ur">
  </div>
  <div class="hit-points-ll">
    <div class="hp-label">
      {{ localize 'CY.HP' }}
    </div>
  </div>
  <div class="hit-points-lr">
    <input class="hit-points-max" type="number" name="system.hitPoints.max" value="{{data.system.hitPoints.max}}" />            
  </div>
</div>