<div class="tab money-tab" data-group="primary" data-tab="money">
  <div class="widget field-row">
    <div class="field-label">
      {{ localize 'CY.Credits'}}
    </div>
    <div class="field-value">
      <input class="field-input" type="number" name="system.credits" value="{{data.system.credits}}"/>
    </div>
  </div>  
  <div class="widget field-row">
    <div class="field-label">
      {{ localize 'CY.Debt'}}
    </div>
    <div class="field-value">
      <input class="field-input" type="number" name="system.debt.amount" value="{{data.system.debt.amount}}"/>
    </div>
  </div>  
  <div class="widget field-row">
    <div class="field-label">
      {{ localize 'CY.OwedTo'}}
    </div>
    <div class="field-value">
      <textarea name="system.debt.to" rows="4">{{data.system.debt.to}}</textarea> 
    </div>
  </div>  
</div>