.cy.sheet.actor {
  section.window-content {
    .sheet-header {
      display: flex;
      height: 443px;
      .left-col {
        display: flex;
        flex-direction: column;
        flex: 0 0 $portrait-size;
        margin-right: $widget-margin;
        .portrait {
          display: flex;
          flex: 0 0 $portrait-size;
          justify-content: center;
          margin-bottom: $widget-margin;
          img {
            height: 100%;
          }
        } 
        .name {
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          input[type="text"] {
            font-family: $name-font;
            height: $field-height;
          }
        } 
      }
      .right-col {
        display: flex;
        flex: 0 0 88px;
        flex-direction: column;
        .actor-type {
          color: $cream;
          align-items: center;
          display: flex;
          flex: 1;
          font-family: $name-font;
          font-size: 40px;
          justify-content: center;
          writing-mode: vertical-rl;
        }        
        .hit-points {
          display: grid;
          flex: 0 0 88px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          margin-bottom: $widget-margin;
          width: 88px;
          .hit-points-ur,
          .hit-points-ll {              
            background-image: -webkit-linear-gradient(135deg, $cream 50%, $near-black 50%);              
          }
          .hit-points-ll {
            color: $near-black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: 12px;
            .hp-label {
              padding-bottom: 0px;
              padding-right: 8px;
              text-align: right;
            }
          }
          .hit-points-lr {              
            background-color: $cream;
            input[type="number"] {
              color: $near-black;
            }          
          }
          input[type="number"] {
            border: none;
            font-size: 34px;
          }            
        }
      }  
    }
  }
}