.cy.sheet.actor {
  section.window-content {
    .sheet-header {
      display: flex;
      height: 443px;
      .left-col {
        display: flex;
        flex-direction: column;
        flex: 0 0 $portrait-size;
        margin-right: $widget-margin;
        .portrait {
          display: flex;
          flex: 0 0 $portrait-size;
          height: $portrait-size;
          justify-content: center;
          margin-bottom: $widget-margin;
          img {
            height: 100%;
            width: auto;
          }
        } 
        .name {
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          input[type="text"] {
            font-family: $name-font;
            height: $field-height;
          }
        } 
      }
      .right-col {
        display: flex;
        flex: 0 0 88px;
        flex-direction: column;
        .actor-type {
          color: var(--cy-foreground-color);
          align-items: center;
          display: flex;
          flex: 0 0 $portrait-size;
          font-family: $name-font;
          font-size: 40px;
          margin-bottom: $widget-margin;
          justify-content: center;
          writing-mode: vertical-rl;
        }        
        .hit-points {
          display: grid;
          flex: 0 0 88px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          margin-bottom: $widget-margin;
          width: 88px;
          .hit-points-ur,
          .hit-points-ll {              
            background-image: -webkit-linear-gradient(135deg, var(--cy-foreground-color) 50%, var(--cy-background-color) 50%);              
          }
          .hit-points-ll {
            color: var(--cy-background-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: 12px;
            .hp-label {
              padding-bottom: 0px;
              padding-right: 8px;
              text-align: right;
            }
          }
          .hit-points-lr {              
            background-color: var(--cy-foreground-color);
            input[type="number"] {
              color: var(--cy-background-color);
            }          
          }
          input[type="number"] {
            border: none;
            font-size: 34px;
          }            
        }
      }  
    }

    .sheet-body {
      .item-row {
        display: flex;
        .icon {
          &:hover {
            cursor: pointer;
          }
          flex: 0 0 75px;
          margin-right: 5px;
          img {
            border: 4px solid var(--cy-foreground-color);
            border-radius: 5px;
            height: 75px;
            width: 75px;
          }  
        }
        .item-fields {
          display: flex;
          flex: 1;
          flex-direction: column;
          .item-field-row {
            display: flex;
            line-height: $textarea-line-height;
            margin: 2px;
            button {
              min-width: 80px;
              width: fit-content;
            }
          }
          .item-name-row {
            display: flex;
            .item-name {
              flex: 1;
            }
            .item-controls {
              flex: 0 0 80px;
              text-align: right;
            }
          }
        }          
      }
    }
  }
}