
.cy.sheet.actor.character {
  section.window-content {
    .sheet-header {
      margin-bottom: 4px;;
      flex-direction: column;
      height: 410px;
      .header-cols {
        display: flex;
        flex: 1;
      }
      .header-button-row {
        flex: 0 0 20px;
        display: flex;
        justify-content: space-between;
      }
      .left-col {
        .class-row {
          align-items: center;
          display: flex;
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          .class-name {
            flex: 1;
            // font-family: $sheet-font;
            margin-left: 5px;
            text-align: center;
            // text-transform: uppercase;
          }
          .item-controls {
            display: flex;
            justify-content: space-around;
            flex: 0 0 40px;
          }
        }
      }
      .right-col {
        .abilities-wrapper {
          justify-content: space-between;
          display: flex;
          flex: 0 0 292px;
          flex-direction: column;
          margin-bottom: $widget-margin;
        }
        .ability-row {
          display: flex;
          flex: 0 0 37px;
          // margin-bottom: $widget-margin;
          .ability-icon {
            align-items: center;
            background-color: var(--cy-foreground-color);
            border-right: 4px solid var(--cy-foreground-color);
            display: flex;
            flex: 1;
            justify-content: center;
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              // text-align: center;
              // height: 29.5px;
              // width: 29.5px;
              img {
                border: none;
                height: 28px;
                width: 28px;
              }  
            }
          }
          .ability-score {
            flex: 1;
            input[type="number"] {
              font-size: 20px;
              // padding-top: 6px;
            }
          }
        }
        .credits-row {
          display: flex;
          flex-direction: column;
          .credits-label {
            background-color: var(--cy-foreground-color);
            color: black;
            text-align: center;
            font-size: 8px;
          }
          .credits-input {
            input[type="text"] {
              font-size: 4px;
              height: 10px;  
            }
          }
        }
        .glitches {
          flex: 0 0 $field-height;
        }
      }  
    }
  }
}