
$tab-height: 30px;
$border-width: 4px;

.cy.sheet.actor.character {
  section.window-content {

    // TODO: clean up padding for the whole sheet and columns etc
    // seems like it was already set for left/top, but not right? 
    // maybe for scroll-bar futzing
    padding-right: 10px;

    overflow: hidden;
    .widget-row {
      display: flex;
      // TODO: fix needing to have right padding, seems wrong/dumb
      // padding-right: 10px;
      .widget {
        flex: 1;
        margin-right: 4px;
      }
      .widget:last-child {
        margin-right: 0px;
      }
    }
    .cols {
      display: flex;
      .col {
        flex: 1;
      }
      .spacer-col {
        flex: 0 0 20px;
      }
    }
    .big-row {
      display: flex;
      height: 100%;
      .header-col {
        flex: 0 0 395px;
        padding-right: 8px;
      }
      .tabs-col {
        flex: 1;
        height: 100%;
        nav.sheet-tabs.tabs {
          background: none;
          border-bottom: $border-width solid var(--cy-foreground-color);
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          margin: 0px;
          padding-left: 10px;
          padding-right: 10px;
          // margin-top: 0px;
          // margin-bottom: 0px;
          // hard-coded width in _sheet.scss
          width: 100%;
          a.item {
            // border-bottom-width: 0;
            // border-right-width: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            // border-bottom: 5px solid var(--cy-foreground-color);
            border-bottom: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: $tab-height;
            margin-right: 2px;
            opacity: 0.5;
            &:last-child {
              margin-right: 0px;
            }
            &:hover {
              opacity: 1.0;
            }
            &.active {
              background-color: var(--cy-window-background-color);
              color: var(--cy-foreground-color);
              border-bottom: none;
              opacity: 1.0;
              position: relative;
              top: $border-width;
            }
            .tab-label {
              font-family: "CY VTT test font 1.2";              
              font-size: 8px;
            }
          }
        }
      }
    }
    .sheet-header {
      margin-bottom: 4px;
      flex-direction: column;
      height: 450px;
      .header-cols {
        display: flex;
        flex: 1;
      }
      .header-button-row {
        display: flex;
        flex: 0 0 36px;
        justify-content: space-between;
        margin-bottom: $border-width;
        width: 100%;
        // button {
        //   height: 100%;
        //   font-size: 8px;
        // }
      }
      .left-col {
        .class-row {
          align-items: center;
          display: flex;
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          .class-name {
            flex: 1;
            // font-family: $sheet-font;
            margin-left: 5px;
            text-align: center;
            // text-transform: uppercase;
          }
          .item-controls {
            display: flex;
            justify-content: space-around;
            flex: 0 0 40px;
          }
        }
      }
      .right-col {
        // flex: 0 0 60px;
        width: 90px;
        // flex: 1;
        // padding-right: 5px;
        .abilities-wrapper {
          // justify-content: space-between;
          display: flex;
          // flex: 0 0 292px;
          flex: 1;
          flex-direction: column;
          // margin-bottom: $widget-margin;
        }
        .ability-row {
          display: flex;
          flex: 0 0 37px;
          margin-bottom: $widget-margin;
          .ability-icon {
            align-items: center;
            background-color: var(--cy-foreground-color);
            border-right: 4px solid var(--cy-foreground-color);
            display: flex;
            flex: 1;
            justify-content: center;
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              img {
                border: none;
                height: 28px;
                width: 28px;
              }  
              .ability-label {
                color: var(--cy-background-color);
                font-family: "CY VTT test font 1.2";
                font-size: 6px;
              }
            }
          }
          .ability-score {
            flex: 1;
            input[type="number"] {
              font-size: 20px;
              // padding-top: 6px;
            }
          }
        }
        .glitches-row {
          display: flex;
          flex: 1;
          flex-direction: column;
          .glitches-label {
            background-color: var(--cy-foreground-color);
            color: black;
            flex: 0 0 24px;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
          }
          .glitches-input {
            display: flex;
            flex: 1;
            .slash {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 24px;
              justify-content: center;
            }
            input[type="number"] {
              border: none;
              font-size: 24px;
            }
          }
        }
        .hitpoints-widget {
          flex: 0 0 88px;
        }
      }  
      .owed-to-row {
        .field-label {
          flex: 0 0 92px;
          padding-right: 5px;
        }
      }
    }
    .sheet-body {
      border-bottom: $border-width solid var(--cy-foreground-color);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: $border-width solid var(--cy-foreground-color);
      border-right: $border-width solid var(--cy-foreground-color);
      height: calc(100% - 33px);
      margin-bottom: 10px;
      overflow: auto;
      padding: calc($border-width * 2);
      padding-top: 20px;
      width: 100%;

      .item.item-row {
        // overflow: hidden;
      }
    }
  }
}