
.cy.sheet.actor.character {
  section.window-content {
    .sheet-header {
      height: 443px;
      .left-col {
        .name {
          flex: 0 0 52px;
          input[type="text"] {
            font-size: 18px;
            height: 46px;
          }
        }
        .class-row {
          align-items: center;
          display: flex;
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          .class-name {
            flex: 1;
            // font-family: $sheet-font;
            margin-left: 5px;
            text-align: center;
            // text-transform: uppercase;
          }
          .item-controls {
            display: flex;
            justify-content: space-around;
            flex: 0 0 40px;
          }
        }
      }
      .right-col {
        .ability-row {
          display: flex;
          flex: 0 0 $field-height;
          margin-bottom: $widget-margin;
          .ability-icon {
            align-items: center;
            background-color: $cream;
            border-right: 4px solid $cream;
            display: flex;
            flex: 1;
            justify-content: center;
            a {
              height: 34px;
              width: 34px;
              img {
                border: none;
                height: 34px;
                width: 34px;
              }  
            }
          }
          .ability-score {
            flex: 1;
            input[type="number"] {
              font-size: 24px;
              // padding-top: 6px;
            }
          }
        }
        .glitches {
          flex: 0 0 $field-height;
        }
      }  
    }
    .sheet-body {
      .item-row {
        display: flex;
        .icon {
          flex: 0 0 100px;
          margin-right: 5px;
          img {
            border: 4px solid $cream;
            border-radius: 5px;
            height: 100px;
            width: 100px;
          }  
        }
        .item-fields {
          display: flex;
          flex: 1;
          flex-direction: column;
          .item-field-row {
            line-height: $textarea-line-height;
            margin: 2px;
          }  
        }          
      }
    }
  }
}