.cy.sheet.foe {
  section.window-content {
    .sheet-header {
      height: 396px;
      .right-col .actor-type {
        color: $cream;
        align-items: center;
        display: flex;
        flex: 1;
        font-family: $type-font;
        font-size: 50px;
        justify-content: center;
        writing-mode: vertical-rl;
      }
      .field-button {
        background-color: $cream;
        color: $near-black;
      }
    }
  }
}