.cy.sheet.actor.foe {
  section.window-content {
    .sheet-header {
      height: 388px;
      .sheet-button {
        font-size: 16px;
        height: 38px;
        line-height: 1.0;
        margin-right: 4px;
        &:last-child {
          margin-right: 0px;
        }
      }      
    }
  }
}
