.nano-tab {
  .cols {
    height: 100%;
    .col {
      height: 100%;
      overflow: hidden;
      .item-list {
        height: calc(100% - 44px);
        overflow: auto;
      }    
    }
  }
  .nested-item {
    .nested-indent {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row: auto auto;
      flex: 0 0 20px;

    }
    &.app-row {
      .ur {
        border-bottom: 2px solid var(--cy-highlight-color);
        border-left: 2px solid var(--cy-highlight-color);
      }
      .lr {
        border-left: 2px solid var(--cy-highlight-color);
      }      
      &:last-child {
        .nested-indent {
          .lr {
            border-left: none;
          }  
        }
      }
    }
    &.infestation-row {
      // only one infestation per nano
      .ur {
        border-bottom: 2px solid var(--cy-highlight-color);
        border-left: 2px solid var(--cy-highlight-color);
      }
    }
  }
}