<form class="roll-card">
  <div class="card-title">{{localize 'CY.LevelUp'}}</div>
  <div class="test-roll">
    <div class="outcome-text">
      <span class="take-damage">{{hpOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{strOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{agiOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{preOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{touOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{knoOutcome}}</span>
    </div>
    <div class="roll-title">
      <span>{{localize "CY.LevelUpInTheLining"}}:</span>
    </div>
    <div class="outcome-text">
      <span class="take-damage">{{jacketOutcome}}</span>
    </div>
  </div>
</form>
