<form class="{{cssClass}}" autocomplete="off">
  {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='APP'}}
  {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
  <div class="sheet-body">
    {{> systems/cy_borg/templates/item/item-description-tab.html }}
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="fields">
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Burned'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="checkbox" name="data.burned" {{checked data.data.burned}} />
          </div>
        </div>          
      </div>
    </div>      
  </div>
</form>