<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-wrapper">
    {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='CLASS'}}
    {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
    <div class="sheet-body">
      {{> systems/cy_borg/templates/item/item-description-tab.html }}
      <div class="tab data-tab" data-group="primary" data-tab="data">
        <div class="fields">
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Credits'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.credits" value="{{data.data.credits}}" spellcheck="false"/>
            </div>
          </div>
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Debt'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.debt" value="{{data.data.debt}}" spellcheck="false"/>
            </div>
          </div>
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.HitPoints'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.hitPoints" value="{{data.data.hitPoints}}" spellcheck="false"/>
            </div>
          </div>     
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Glitches'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.glitches" value="{{data.data.glitches}}" spellcheck="false"/>
            </div>
          </div>
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Strength'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.strength" value="{{data.data.strength}}" spellcheck="false"/>
            </div>
          </div>                   
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Agility'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.agility" value="{{data.data.agility}}" spellcheck="false"/>
            </div>
          </div>                   
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Presence'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.presence" value="{{data.data.presence}}" spellcheck="false"/>
            </div>
          </div>                   
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Toughness'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.toughness" value="{{data.data.toughness}}" spellcheck="false"/>
            </div>
          </div>                   
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Knowledge'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.knowledge" value="{{data.data.knowledge}}" spellcheck="false"/>
            </div>
          </div>
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.WeaponTable'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.weaponTable" value="{{data.data.weaponTable}}" spellcheck="false"/>
            </div>
          </div>          
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.ArmorTable'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.armorTable" value="{{data.data.armorTable}}" spellcheck="false"/>
            </div>
          </div>          
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Rolls'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.rolls" value="{{data.data.rolls}}" spellcheck="false"/>
            </div>
          </div>          
          <div class="widget field-row">
            <div class="field-label">
              {{ localize 'CY.Items'}}
            </div>
            <div class="field-value">
              <input class="field-input" type="text" name="data.items" value="{{data.data.items}}" spellcheck="false"/>
            </div>
          </div>          
        </div>
      </div>      
    </div>
  </div>
</form>