<form class="{{cssClass}}" autocomplete="off">
  {{> systems/cy-borg/templates/item/item-sheet-header.html itemType='CLASS'}}
  {{> systems/cy-borg/templates/item/item-sheet-tabs.html }}
  <div class="sheet-body">
    {{> systems/cy-borg/templates/item/item-description-tab.html }}
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="fields">
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Credits'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.credits" value="{{data.system.credits}}" spellcheck="false"/>
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Debt'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.debt" value="{{data.system.debt}}" spellcheck="false"/>
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.HitPoints'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.hitPoints" value="{{data.system.hitPoints}}" spellcheck="false"/>
          </div>
        </div>     
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Glitches'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.glitches" value="{{data.system.glitches}}" spellcheck="false"/>
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Strength'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.strength" value="{{data.system.strength}}" spellcheck="false"/>
          </div>
        </div>                   
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Agility'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.agility" value="{{data.system.agility}}" spellcheck="false"/>
          </div>
        </div>                   
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Presence'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.presence" value="{{data.system.presence}}" spellcheck="false"/>
          </div>
        </div>                   
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Toughness'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.toughness" value="{{data.system.toughness}}" spellcheck="false"/>
          </div>
        </div>                   
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Knowledge'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.knowledge" value="{{data.system.knowledge}}" spellcheck="false"/>
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.WeaponTable'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.weaponTable" value="{{data.system.weaponTable}}" spellcheck="false"/>
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.ArmorTable'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.armorTable" value="{{data.system.armorTable}}" spellcheck="false"/>
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Rolls'}}
          </div>
          <div class="field-value">
            <textarea class="field-input" name="system.rolls" rows="4">{{data.system.rolls}}</textarea>
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Items'}}
          </div>
          <div class="field-value">
            <textarea class="field-input" name="data.items" rows="4">{{data.system.items}}</textarea>
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.OnlyApps'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="checkbox" name="system.onlyApps" {{checked data.system.onlyApps}} />
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.OnlyCybertech'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="checkbox" name="system.onlyCybertech" {{checked data.system.onlyCybertech}} />
          </div>
        </div>          
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.OnlyNano'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="checkbox" name="system.onlyNano" {{checked data.system.onlyNano}} />
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.ActorCreateMacro'}}
          </div>
          <div class="field-value">
            <textarea name="system.actorCreateMacro" rows="4">{{data.system.actorCreateMacro}}</textarea> 
          </div>
        </div>
      </div>
    </div>      
  </div>
</form>