<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-wrapper">
    {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='CYBER'}}
    {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
    <div class="sheet-body">
      {{> systems/cy_borg/templates/item/item-description-tab.html }}
      <div class="tab details-tab" data-group="primary" data-tab="details">
        <div class="fields">
          {{> systems/cy_borg/templates/item/item-base-fields.html }} 
        </div>
      </div>      
    </div>
  </div>
</form>