<form class="{{cssClass}}" autocomplete="off">
  {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='FEAT'}}
  {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
  <div class="sheet-body">
    {{> systems/cy_borg/templates/item/item-description-tab.html }}
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="fields">
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.RollLabel'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.rollLabel" value="{{data.system.rollLabel}}" spellcheck="false"/>
          </div>
        </div>
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.RollMacro'}}
          </div>
          <div class="field-value">
            <input class="field-input" type="text" name="system.rollMacro" value="{{data.system.rollMacro}}" spellcheck="false"/>
          </div>
        </div>                    
      </div>
    </div>      
  </div>
</form>