<form class="{{cssClass}}" autocomplete="off">
  {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='INFEST'}}
  {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
  <div class="sheet-body">
    {{> systems/cy_borg/templates/item/item-description-tab.html }}
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="fields">
        <div class="widget field-row">
          <div class="field-label">
            {{ localize 'CY.Triggered'}}
          </div>
          <div class="field-value">
            <textarea class="field-input" name="data.triggered" rows="20">{{data.data.triggered}}</textarea>
          </div>
        </div>                   
      </div>
    </div>      
  </div>
</form>