<div class="widget field-row">
  <div class="field-label">
    {{ localize 'CY.Price'}}
  </div>
  <div class="field-value">
    <input class="field-input" type="number" name="data.price" value="{{data.data.price}}"/>
  </div>
</div>
<div class="widget field-row">
  <div class="field-label">
    {{ localize 'CY.Illegal'}}
  </div>
  <div class="field-value">
    <input class="field-input" type="checkbox" name="data.illegal" {{checked data.data.illegal}} />
  </div>
</div>
<div class="widget field-row">
    <div class="field-label">
    {{ localize 'CY.CarrySlots'}}
  </div>
  <div class="field-value">
    <input class="field-input" type="number" name="data.carrySlots" value="{{data.data.carrySlots}}"/>
  </div>
</div>
<div class="widget field-row">
    <div class="field-label">
    {{ localize 'CY.Quantity'}}
  </div>
  <div class="field-value">
    <input class="field-input" type="number" name="data.quantity" value="{{data.data.quantity}}"/>
  </div>
</div>