<form class="{{cssClass}}" autocomplete="off">
  {{> systems/cy-borg/templates/item/item-sheet-header.html itemType='NANO'}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"><img class="tab-icon" title="{{localize 'CY.Description'}}" src="/systems/cy-borg/assets/images/ui/tab_dossier.png" /></a>
  </nav>
  <div class="sheet-body">
    {{> systems/cy-borg/templates/item/item-description-tab.html }}
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="fields">
        {{> systems/cy-borg/templates/item/item-base-fields.html }} 
      </div>
    </div>      
  </div>
</form>