<form class="{{cssClass}} {{cssCyberClass}}" autocomplete="off">
  {{> systems/cy_borg/templates/item/item-sheet-header.html itemType='WEAPON'}}  
  {{> systems/cy_borg/templates/item/item-sheet-tabs.html }}
  <div class="sheet-body">
    {{> systems/cy_borg/templates/item/item-description-tab.html }} 
    <div class="tab data-tab" data-group="primary" data-tab="data">
      {{> systems/cy_borg/templates/item/item-base-fields.html }} 
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Cybertech'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="checkbox" name="system.cybertech" {{checked data.system.cybertech}} />
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.WeaponType'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="text" name="system.weaponType" value="{{data.system.weaponType}}" spellcheck="false"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Damage'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="text" name="system.damage" value="{{data.system.damage}}" spellcheck="false"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.VehicleDamage'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="text" name="system.vehicleDamage" value="{{data.system.vehicleDamage}}" spellcheck="false"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Special'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="text" name="system.special" value="{{data.system.special}}" spellcheck="false"/>
        </div>
      </div>          
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.UsesAmmo'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="checkbox" name="system.usesAmmo" {{checked data.system.usesAmmo}} />
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Autofire'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="checkbox" name="system.autofire" {{checked data.system.autofire}} />
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Targets'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="text" name="system.targets" value="{{data.system.targets}}"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.FumbleOn'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="number" name="system.fumbleOn" value="{{data.system.fumbleOn}}"/>
        </div>
      </div>        
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.CritOn'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="number" name="system.critOn" value="{{data.system.critOn}}"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.CritMultiplier'}}
        </div>
        <div class="field-value">
          <input class="field-input" type="number" name="system.critMultiplier" value="{{data.system.critMultiplier}}"/>
        </div>
      </div>
      <div class="widget field-row">
        <div class="field-label">
          {{ localize 'CY.Sound'}}
        </div>
        <div class="field-value">
          <button
          type="button"
          class="file-picker"
          data-type="audio"
          data-target="system.sound"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="sound"
          type="text"
          name="system.sound"
          value="{{data.system.sound}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
  </div>
</form>